@model KanaPractice.Models.QuestionViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <form asp-controller="Home" asp-action="Index" method="post">
        <input hidden asp-for="Id" />
        <input hidden asp-for="TextString" />
        <input hidden asp-for="Romanised" />
        <p>score: @Model.Score</p>
        <p>lives: @Model.Lives</p>
        <div class="test-character">
            <p>@Model.TextString</p>
        </div>
        @{
            int i = 0;
            foreach (string answer in Model.PossibleAnswers)
            {
                <button type="submit" class="btn btn-primary btn-lg" name="chosenAnswer" value="@answer" id="SaveNew">@answer</button>
            }
        }
    </form>
</div>
